

 <section>
      <h1>Scape Park</h1>
      <div class="booking-info">
        <img src="./img/pool.jpg" alt="Natural Swimming Pool" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
          voluptas, architecto labore perferendis aliquam, distinctio id quasi
          ipsa aspernatur necessitatibus quaerat quia nulla asperiores adipisci
          optio mollitia aliquid quam. Mollitia, excepturi optio natus delectus
          dolorum obcaecati doloribus autem, cupiditate at sed ratione numquam
          dolorem quisquam commodi? Quam, ea cumque corrupti amet pariatur porro
          repudiandae dicta ipsam! Accusamus, quibusdam ut tempora, fugiat
          reprehenderit asperiores optio harum tenetur placeat dolorum assumenda
          impedit! Nostrum pariatur voluptatibus esse accusantium voluptas id
          aspernatur totam alias repudiandae sit. Debitis consequatur ut, eum
          qui provident error officia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nisi tempora rerum, incidunt illum vero natus atque
          tenetur et repudiandae ducimus.
        </p>
      </div>
      <div class="booking-details">
        <div class="booking-details-features">
          <ul>
            <li>Transportation from the main hotels in Punta Cana</li>
            <li>Båvaro and Bayahibe</li>
            <li>Hoyo Azul Eco Tour</li>
            <li>Zip line Eco Splash</li>
            <li>Blue Jumps</li>
            <li>Cultural route</li>
            <li>Swimming in the cave</li>
            <li>Iguabonita Cave</li>
            <li>Iguanaland</li>
            <li>The ranch</li>
          </ul>
        </div>
        <div class="pay">
          <h3>Price &dollar;129 per person</h3>
          <button class="pago-btn">Pay</button>
        </div>
      </div>
    </section>

   
  </body>
</html>
