
    <div class="container">
      <!--  -->
      <div class="test1 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>

      <div class="test2 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>

      <div class="test3 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>
      <!--  -->

      <div class="test1 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>

      <div class="test2 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>

      <div class="test3 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>
      <!--  -->

      <div class="test1 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>

      <div class="test2 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>

      <div class="test3 card">
        <img class="test-img" src="./img/pool.jpg" alt="Excursion Image" />

        <div class="test-head">
          <h2 class="test-price">&dollar;50</h2>
          <button class="test-btn btn">Pay Now</button>
        </div>

        <h2 class="test-title">Excursion Title</h2>

        <div class="test-details">
          <div class="test-person">65&dollar; person</div>
          <div class="test-kids">Kid pay 50&percnt;</div>
          <div class="test-couple">130&dollar; couple</div>
        </div>

        <button class="test-details-btn btn">View details</button>
      </div>
      <!--  -->
    </div>

 