

    <section>
        <form class="payment-card">
            <div class="credit-card">

            </div>
            <div class="payment-card-content">

                    <label for="card-number" class="card-number">Card Number</label>
                    <input type="text" id="card-number" placeholder="XXXX XXXX XXXX XXXX" required>

                    <label for="card-holder" class="card-holder">Card Holder</label>
                    <input type="text" id="card-holder" required>

                <div class="card-data">
                    <div class="data-group">

                        <div class="data-label">
                            <label for="exp-month" class="exp-month">Expiration Date</label>
                            
                            <label for="card-code" class="card-code">CVV/CCV</label>
                       </div>

                        <div class="data-input">
                            <input type="number" id="exp-month" placeholder="mm" required>

                            <input type="number" id="exp-year" placeholder="yyyy" required>
                            
                            <input type="number" id="card-code" placeholder="XXX" required>
                        </div>

                    </div>
                </div>
            </div>
            <button class="payment-card-btn btn">Pay</button>
        </form>
    </section>

  