* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(217, 231, 249);
}

header .nav-links,
header .nav-buttons{
    display: flex;
    flex-direction: row;
}

header .nav-links a,
header .nav-links li,
header .nav-buttons a,
header .nav-buttons li{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

header .nav-buttons a,
header .nav-buttons li {
    padding: 5px;
}

header .nav-links a {
    font-weight: 700;
}

header .nav-buttons #register-btn {
    padding: 10px;
    background-color: rgb(122, 212, 200);
    border-radius: 15px;
}

/* --------------- */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h1 {
    margin: 4%;
    font-size: 2.3rem;
    text-align: center;
}

.booking-info img {
    width: 50%;
    float: left;
    border-radius: 15px;
    margin: 1.3%;
}

.booking-info p {
    font-size: 1.07em;
    padding: 1% 3%;
}

.booking-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    margin: 3% 1%;
}

.booking-details li {
    font-size: 1.07em;
    list-style-type: none;
}

.booking-details .pay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pay button {
    font-weight: 700;
    padding: 2%;
    font-size: 1.2rem;
    border-radius: 5px;
    border-color: red;
    background-color: red;
    color: white;
}

.pay button:hover {
    background-color: white;
    color: red;
    border-color: black;
    
}

.pay h3 {
    font-size: 1rem;
}

/* --------------- */

footer {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(217, 231, 249);
}

footer .social {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

footer .information-links,
footer .helpful-links,
footer .contact-links {
    display: flex;
    flex-direction: column;
}

footer .social h1,
footer .information-links h1,
footer .helpful-links h1,
footer .contact-links h1 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 700;
}

footer .social .social-icons-groups {
    display: flex;
    flex-direction: row;
}

footer .social .social-icons-groups img {
    width: 40px;
}

footer .information-links .information-links-groups,
footer .helpful-links .helpful-links-groups,
footer .contact-links .contact-link-groups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .contact-links .contact-link-groups li {
    list-style-type: none;
}

footer .information-links a,
footer .helpful-links-groups a {
    text-decoration: none;
}

header .nav-links a:hover {
    color: blue;
}
  
header .nav-buttons a:hover {
    padding: 10px;
    background-color: rgb(122, 212, 200);
    border-radius: 15px;
}

header .nav-buttons #register-btn:hover {
    background-color: rgb(92, 161, 151);
    color: white;
}

header .nav-links a,
header .nav-buttons a {
  transition: all 0.3s ease;
}

section form button:hover {
    background-color: rgb(73, 95, 172);
    color: white;
}

footer a:hover {
    color: blue;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    header .nav-links,
    header .nav-buttons {
      flex-direction: column;
      align-items: center;
    }
    header .nav-buttons {
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    section form {
      margin: 30px;
      padding: 20px;
    }
    .adult-child {
      flex-direction: column;
    }
  }
  